body{
    background-color: rgb(95, 95, 95);
    color: white;
}
#uppertab {
    height: 40px;
    width: auto;
    background-color: black;
    text-align: center;
    margin : 50px;
    border-radius: 8%;
}
#main {
    font-size: small;
    text-align: center;
}
#userinput {
    height: 40px;
    width : 230px;
    border : 3px solid black;
    font-size: larger;
    text-align: center;
}
#myBtn {
    height : 60px;
    background-color: black;
    color: white;
    border-radius: 5%;
    font-size: large;
}
#result {
    height: 300px;
    width: 500px;
    color :white;
    text-align: center;
    font-size: large;

}
.attempts {
    height: 100px;
    width: auto;
    color :white;
    text-align: center;
    font-size: large;
    margin : 20px;
  
}
#newGame{
    height: 100px;
    width: auto;
    color :white;
    text-align: center;
    font-size: large;
    margin : 20px;
}
