body {
    background-color: grey;
}
#Cal{
    font-family: system-ui, sans-serif;
}
#myBtn {
    margin-left: 150px;
    /* height: 40px;
    width: 100px; */
    /* border-radius: 10%; */
    font-weight: bold;
}
.result {
    height :50px;
    font-weight: bold;
    color : rgb(229, 247, 197);
    margin-left : 100px;
    margin-top : 30px;
}